<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DIR" value="./src/Logger"/>
    <apender name="testRecipe" class="ch.qos.logback.core.FileAppender"/>
    <file>${DIR}/resipe.log</file>
    <append>true</append>
    <encoder>
        <pattern>
            %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
        </pattern>
    </encoder>

    <logger name="testRecipe" level="INFO">
        <appender-ref ref="testRecipe"/>
    </logger>

    <!--    <root level="INFO">-->
    <!--        <appender-ref ref="failtest"/>-->
    <!--    </root>-->

</configuration>